header{
	background-color:#1c2327;
	width: 100%;
	height:60px;
	color: white;
	font-family: arial;
	margin: 0;
	padding: 0;
}
header div,header div h2{
	display: inline;
	margin-top:5px;
}


.title{
	position: absolute;
	left:3%;
	font-size: 16px;
	font-weight: bold;
color: red;
	margin-top: 10px ;
	width:25%;
	overflow: hidden;
}
#span1{	font-style: italic;
	font-family: segoe script;
	color: white;}
.menu ul{
	display: inline;
	margin-bottom: 0 auto;
	width:55%;
	overflow: hidden;
}
.menu ul li{
	
	float:right;
	 display: inline;
	padding: 23px; 
overflow: hidden;
	font-size: 20px;
	font-family: simsun;
	
}
.menu ul li a{text-decoration: none;
	color:white;
	
}
.menu ul li a:hover{
	color:#00B8B1;
	font-weight: bold;
}

#search {
	position: absolute;
	left:37%;
	margin-top: 20px;
	width:20%;
	overflow: hidden;
}


.section1{
	width: 70%;
	height:500px;
	border: beige 2px solid;
}
.section12{
	position:absolute;
	right:0px;
	top:70px;
	width: 25%;
	height:300px;
	border: beige 2px solid;}
.section22{
		position:absolute;
		right:0px;
		top:370px;
		width: 25%;
		height:400px;
		border: beige 2px solid;
	
}
#timerimg img {
				vertical-align: bottom;
				margin-top: 20px;
			}
.section2{
	width: 70%;
	height:500px;
	border: beige 2px solid;
}

.section3{
	width: 70%;
	height:500px;
	border: beige 2px solid;
}
.section4{
	width: 70%;
	height:500px;
	border: beige 2px solid;
}
#my{
	position: absolute;
	right: 0px;
	top:-3px;
	background-color: lightpink;
	height: 300px;
	width:350px;
	display:none;
}

footer{
	width: 100%;
	height: 230px;
	background-color: dimgray;
	color:white;
	font-family: simsun;
}

.wechat{
	float:left;
	padding-top: 30px;
	padding-left: 50px;
	
}

.end{
	padding-top: 30px;
	padding-right: 70px;
	float:right
}
