header{
	background-color:#1c2327;
	width: 100%;
	height:60px;
	color: white;
	font-family: arial;
	margin: 0;
	padding: 0;
}
header div,header div h2{
	display: inline;
	margin-top:5px;
}


.title{
	position: absolute;
	left:3%;
	font-size: 16px;
	font-weight: bold;
color: red;
	margin-top: 10px ;
	
}
#span1{	font-style: italic;
	font-family: segoe script;
	color: white;}
.menu ul{
	display: inline;
	margin-bottom: 0 auto;
	
}
.menu ul li{
	
	float:right;
	 display: inline;
	padding: 23px; 

	font-size: 20px;
	font-family: simsun;
	
}
.menu ul li a{text-decoration: none;
	color:white;
	
}
.menu ul li a:hover{
	color:#00B8B1;
	font-weight: bold;
}

#search {
	position: absolute;
	left:37%;
	margin-top: 18px;
	
}

.section1{
	width: 100%;
	height:500px;
	border: beige 2px solid;
}
.section2{
	width: 100%;
	height:500px;
	border: beige 2px solid;
}
.section3{
	width: 100%;
	height:500px;
	border: beige 2px solid;
}
.section4{
	width: 100%;
	height:500px;
	border: beige 2px solid;
}
footer{
	width: 100%;
	height: 230px;
	background-color: dimgray;
	color:white;
	font-family: simsun;
}

.wechat{
	float:left;
	padding-top: 30px;
	padding-left: 50px;
	
}

.end{
	padding-top: 30px;
	padding-right: 70px;
	float:right
}
